@charset "UTF-8";
/* ==UserStyle==
@name           MastoFE layout bugfixes
@description    This file shouldn't have to exist. But it does.
@version        2.6.5+20181231.pleroma-boostbutton
@homepageURL    https://gitlab.com/flussence/masto-css
@supportURL     https://gitlab.com/flussence/masto-css/issues
@namespace      flussence.eu
@author         @flussence@nulled.red
@license        AGPL-3.0-or-later
==/UserStyle== */
@-moz-document regexp("https://[^/]+/web/.*") {
  /* .system-font doesn't actually respect your system font, and Roboto (the first choice on the
   * list) looks like garbage. To override masto-fe's fonts with Ubuntu here, *uncheck* “Use
   * system's default font” in the prefs.
   */
  @font-face {
    font-family: 'mastodon-font-sans-serif';
    font-style: italic;
    src: local("Ubuntu"); }
  @font-face {
    font-family: 'mastodon-font-sans-serif';
    font-weight: bold;
    src: local("Ubuntu Bold"); }
  @font-face {
    font-family: 'mastodon-font-sans-serif';
    font-weight: 500;
    src: local("Ubuntu Medium"); }
  @font-face {
    font-family: 'mastodon-font-sans-serif';
    src: local("Ubuntu"); }
  #mastodon .status-reply .fa-reply::before {
    content: "\F122"; }
  #mastodon button.icon-button i.fa-retweet {
    background-image: none !important; }
  #mastodon button.icon-button i.fa-retweet::before {
    display: inline-block !important; } }
