/* ==UserStyle==
@name           MastoFE dense column layout
@description    Gives you an extra mini-column under the drawer, and configurable sizes
@version        2.6.0
@homepageURL    https://gitlab.com/flussence/masto-css
@supportURL     https://gitlab.com/flussence/masto-css/issues
@namespace      flussence.eu
@author         @flussence@nulled.red
@license        AGPL-3.0-or-later
@var    text    drawer-width            "First column width"        22em
@var    text    mid-column-min-width    "Middle columns min-width"  20em
@var    text    last-column-width       "Last column width"         30vw
==/UserStyle== */
@-moz-document regexp("https://[^/]+/web/.*") {
  #mastodon .columns-area {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    grid-template-columns: var(--drawer-width) repeat(auto-fit, minmax(1fr, 30em));
    min-width: 100vw; }
    #mastodon .columns-area > * {
      padding: 0 !important; }
  #mastodon .drawer, #mastodon .drawer + .column {
    grid-row: span 1;
    min-width: auto;
    width: var(--drawer-width); }
  #mastodon .drawer__pager {
    display: grid;
    grid-template: "stuff"; }
  #mastodon .drawer__inner {
    display: grid;
    grid-area: stuff;
    grid-template: "nav" min-content "compose" 1fr / 100%;
    width: initial;
    height: initial;
    position: static; }
    #mastodon .drawer__inner > .navigation-bar {
      grid-area: nav;
      z-index: 2; }
    #mastodon .drawer__inner > .compose-form {
      grid-area: compose;
      z-index: 2; }
    #mastodon .drawer__inner__mastodon {
      grid-area: 1/1/-1/-1;
      min-height: initial; }
    #mastodon .drawer__inner.darker {
      height: auto;
      transform: none !important;
      visibility: visible !important;
      z-index: 2; }
      #mastodon .drawer__inner.darker[style*="visibility: hidden"] {
        display: none; }
  #mastodon .column {
    min-width: var(--mid-column-min-width);
    width: auto; }
    #mastodon .column:last-child {
      width: var(--last-column-width); }
  #mastodon .ui > div > .loading-bar {
    width: var(--drawer-width) !important; }
  #mastodon ~ div {
    z-index: 3; }
  @media (min-height: 38em) {
    #mastodon .column {
      grid-row: span 2; }
    #mastodon .columns-area {
      --reserved-size: 20em
        ;
      grid-template-rows: fit-content(calc(100% - var(--reserved-size))) 1fr; }
    #mastodon .drawer {
      height: auto; }
    #mastodon .drawer + .column {
      min-height: var(--reserved-size);
      overflow-y: auto; } } }
