/* ==UserStyle==
@name           MastoFE anti-clickjacking
@description    Disables the boost/fav buttons until you hover the mouse over them for long enough
@version        2.5.0
@homepageURL    https://gitlab.com/flussence/masto-css
@supportURL     https://gitlab.com/flussence/masto-css/issues
@namespace      flussence.eu
@author         @flussence@nulled.red
@license        AGPL-3.0-or-later
@var    text    hover-delay "Delay before enabling buttons"  1000ms
==/UserStyle== */
@-moz-document regexp("https://[^/]+/web/.*") {
  #mastodon .status__action-bar {
    background: linear-gradient(to bottom, #1a91e6, #606984) no-repeat 100% 0/0 2px; }
    #mastodon .status__action-bar:hover {
      background-size: 100% 2px;
      transition: background-size var(--hover-delay) ease-in-out; }
      #mastodon .status__action-bar:hover button {
        animation: dontclickthis var(--hover-delay) step-end; }
  @keyframes dontclickthis {
    from {
      pointer-events: none; }
    to {
      pointer-events: auto; } } }
