/* ==UserStyle==
@name           MastoFE Vague Mode
@description    Removes annoying numbers from the Mastodon UI
@version        2.5.0
@homepageURL    https://gitlab.com/flussence/masto-css
@supportURL     https://gitlab.com/flussence/masto-css/issues
@namespace      flussence.eu
@author         @flussence@nulled.red
@license        AGPL-3.0-or-later
@var    select  hide-reply-counts   "Post reply count"      {"Show":"inline-block","Hide":"none"}
@var    select  hide-post-scores    "Boost/fav counts"      {"Show":"visible","Hide":"hidden"}
@var    select  hide-user-stats     "User profile stats"    {"Show":"block","Hide":"none"}
==/UserStyle== */
@-moz-document regexp("https://[^/]+/web/.*") {
  #mastodon .status__action-bar__counter__label {
    display: var(--hide-reply-counts); }
  #mastodon .detailed-status__reblogs,
  #mastodon .detailed-status__favorites {
    visibility: var(--hide-post-scores); }
  #mastodon .account__action-bar__tab > strong {
    display: var(--hide-user-stats); } }
